button {
  margin: 0;
  width: auto;
  overflow: visible;
  font: inherit;
  line-height: inherit;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}