.--bold {
  font-weight: 700;
}

.--light {
  font-weight: 200;
}

.--italic {
  font-style: italic;
}

.--font-accent {
  @include accentFont;
}

.--color-priamry {
   color: $primary;
}

.--color-priamry-alt {
  color: $primaryAlt;
}

.--color-red {
  color: $red;
}

.--color-gray {
  color: $gray;
}

.--color-blue {
  color: $blue;
}

.--color-orange {
  color: $orange;
}

.--color-green {
  color: $green;
}

.--no-margin {
  margin: 0;
}

.--subtle {
  text-decoration: none;
}

ul.--no-style {
  @include reset-list-styles;
}