/* Colors */

/* Fonts */
////$fontMain: 'Overpass', sans-serif;
////$fontAccent: cursive;

/* Shadows */

/* Sizing */

/* Padding/Margin/Gaps */



/* Media Queries */
// Small tablets and large smartphones (landscape view)
$screenSmall: 768px;

// Small tablets (portrait view)
$screenMedium: 1200px;

// Tablets and small desktops
$screenLarge: 1440px;

// Large tablets and desktops
$screenExtraLarge: 1680px;