/* Colors */
$base: #fff;
$primary: #151519;
$primaryAlt: #5c5d63;
$gray: #bbbbbb;
$red: #ea4848;
$blue: #5781e4;
$orange: #ffbe00;
$green: #46a746;


/* Fonts */
$fontMain: 'Source Sans Pro', cursive;
$fontAccent: 'Krona One', sans-serif;

/* Shadows */

/* Sizing */
$headerSize: 80px;
$fullScreenHeight: calc(100vh - #{$headerSize});

/* Padding/Margin/Gaps */
$gapVerySmall: 0.25em;
$gapSmall: 0.5em;
$gapStandard: 1.25em;
$gapLarge: 2.5em;
$gapVeryLarge: 4em;


/* Media Queries */
// Small tablets and large smartphones (landscape view)
$screenSmall: 768px;

// Small tablets (portrait view)
$screenMedium: 1200px;

// Tablets and small desktops
$screenLarge: 1440px;

// Large tablets and desktops
$screenExtraLarge: 1680px;